.table {
	text-align: center;
}

#table-header {
	background-color: rgba(51, 153, 204, 0.5) !important;
}

#table-header th {
	color: black;
	font-weight: bold;
}

.table-striped > tbody > tr:nth-last-child(odd) > td {
	background-color: #b4dced;
}

#tabla i {
	margin-left: 5px;
	font-size: 25px;
	cursor: pointer;
}

#editar:hover {
	color: blue;
}

#desactivar {
	color: blue;
	font-size: 30px !important;
}

#desactivar:hover {
	color: red;
}

#activar {
	color: red;
	font-size: 30px !important;
}

#activar:hover {
	color:blue;
}

#detalle:hover {
	color: yellow;
}

#mas:hover {
	color: green;
}

.excel {
	/* border: 1px solid red; */
	margin-bottom: 5px;
	display: flex;
	justify-content: center;
}
